.container {
    margin: 0 auto;
    max-width: 1140px;

}

.wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.user-card {
    width: 300px;
    background: hotpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-height: 80px;
}

.card {
    padding: 10px 0 10px 0;
    cursor: pointer;
    background-color: #bad3ee!important;
}

.card-header {
    width: 100%;
}

.btn {
    margin-top: 10px;
}